<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NodeBlog - <%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/public/css/output.css" rel="stylesheet">
        <link href="/public/css/app.css" rel="stylesheet">
        <link href="/assets/tailwindcss/tailwind.min.css" rel="stylesheet">
        <link href="/assets/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/sidebar') %>
        <main class="main">
            <%- include('partials/header') %>


            <% posts.forEach(post => { %>
                <%- include('partials/post', { post: post }) %>
            <% }); %>

            <%- include('partials/footer') %>
        </main>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/public/js/toggleLike.js"></script>
</html>

